{{!
   This file is part of Totara LMS

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Riana Rossouw <riana.rossouw@totaralearning.com>
   @package totara_competency
}}
{{!

    @template totara_competency/achievement_paths

    This template generates the output for editing achievement paths

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-comp-id
    * data-scale-id
    * data-action

    Context variables required for this template:
    * competency_id
    * scale_id
    * achievement_paths

    Other context variables for following partials:
    * totara_competency/overall_aggregation

    Strings:
    * achievementpaths, totara_competency
    * addachievementpath, totara_competency
    * linkdefaultpreset, totara_competency
    * addachievementpath, totara_competency
}}

<div class="cc_achievement_paths"
     data-comp-id="{{competency_id}}"
     data-scale-id="{{scale_id}}"
     data-singleuse="{{singleuse}}"
     data-core-autoinitialise="true"
     data-core-autoinitialise-amd="totara_competency/achievement_paths">

    <div class="cc_inline cc_title">
        <span class="legend">
            <strong>{{#str}}achievementpaths, totara_competency{{/str}}</strong>
        </span>
    </div>
    <div class="cc_inline cc_actions">
        <div class="cc_add_pathway_select">
            <select name="cc_add_pathway_select"
                  data-cc-add-pathway="addpath"
                  data-cc-on-ordering="disable">
                <option value="0" selected="selected">{{#str}}addachievementpath, totara_competency{{/str}}</option>
                {{#pathway_types}}
                    <option value="{{type}}" data-templatename="{{templatename}}">{{name}}</option>
                {{/pathway_types}}
            </select>
        </div>
    </div>

    {{> totara_competency/overall_aggregation}}

    <div class="pw_none {{#has_pathways}}cc_hidden{{/has_pathways}}">
        {{#str}}nopaths, totara_competency{{/str}}
    </div>

    <div data-pw-groups="">
        {{> totara_competency/partial_pathway_group}}
    </div>

    <div class="cc_group_buttons clearfix">
        <input type="submit"
               class="cc_button"
               name="cc_apply_changes_button"
               value="{{#str}}applychanges, totara_competency{{/str}}"
               data-cc-action="applychanges"
               data-cc-on-ordering="disable">
        <input type="submit"
               class="cc_button"
               name="cc_cancel_changes_button"
               value="{{#str}}cancel, totara_competency{{/str}}"
               data-cc-action="cancelchanges"
               data-cc-cancel-href="{{backurl}}">
    </div>
</div>
