{{!
   This file is part of Totara Learn

   Copyright (C) 2019 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Fabian Derschatta <fabian.derschatta@totaralearning.com>
   @package totara_competency
}}
{{!
    @template totara_competency/archive_modal

    Content for archive modal

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

}}

<div class="tw-assignComp__archiveActionModal">
    <p>{{#str}}action_archive_user_modal, totara_competency{{/str}}</p>
    <p>{{#str}}action_archive_modal_question, totara_competency{{/str}}</p>
</div>