{{!
     This file is part of Totara LMS

     Copyright (C) 2019 onwards Totara Learning Solutions LTD

     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with this program.  If not, see <http://www.gnu.org/licenses/>.

     @author Riana Rossouw <riana.rossouw@totaralearning.com>
     @package totara_competency
}}
{{!

        @template totara_competency/competency_summary_paths

        The template for displaying the achievement paths section in the competency summary

        Classes required for JS:
        * none

        Data attributes required for JS:
        * none

        Context variables required for this template:
        * haspaths: bool, are there pathways to display
        * overall_aggregation: string, overall aggregation method name
        * paths: array of objects, pathway detail
        * paths -> scalevalues: array of objects for scale values
        * paths -> scalevalues -> pathways: template for partials}}

<div class="tw-compSummary__paths">
    {{^haspaths}}
    <div class="tw-compSummary__paths_row">
        {{#str}}nopaths, totara_competency{{/str}}
    </div>
    {{/haspaths}}

    {{#haspaths}}
    {{#overall_aggregation}}
    <div class="tw-compSummary__paths_row">
        <div class="tw-compSummary__paths_label">
            {{#str}}overallratingcalc, totara_competency{{/str}}
        </div>
        <div class="tw-compSummary__paths_value">
            {{overall_aggregation}}
        </div>
    </div>
    {{/overall_aggregation}}

    {{#paths}}
    <div class="tw-compSummary__paths_group">
        {{^scalevalues}}
            {{> totara_competency/competency_summary_paths_group}}
        {{/scalevalues}}
        {{#scalevalues}}{{#haspathways}}
            {{> totara_competency/competency_summary_paths_group}}
        {{/haspathways}}{{/scalevalues}}
    </div>
    {{/paths}}
    {{/haspaths}}
</div>
