{{!
     This file is part of Totara LMS

     Copyright (C) 2019 onwards Totara Learning Solutions LTD

     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with this program.  If not, see <http://www.gnu.org/licenses/>.

     @author Riana Rossouw <riana.rossouw@totaralearning.com>
     @package pathway_criteria_group
}}
{{!

    @template totara_competency/partial_multivalue_summary

    This template shows a rating based pathway

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-pw-id
    * data-pw-type

    Context variables required for this template:
    * id
    * type
    * displayname
    * description

    Other context variables for following partials:

}}

{{#showor}}
    {{> totara_competency/divider_or}}
{{/showor}}

<div class="{{#deleted}}cc_deleted{{/deleted}} {{#outerclass}}{{.}}{{/outerclass}}"
     {{#id}}data-pw-id="{{.}}"{{/id}}
     data-pw-type="{{type}}">

    <div class="cc_detail_item">
        <div class="cc_detail_value ">
            <span class="cc_label cc_allupper"><strong>{{displayname}}<strong></span>
        </div>
        <div class="cc_detail_value">
            {{^detail}}
                <div>{{description}}</div>
            {{/detail}}
            {{#detail}}
                <div>{{name}}</div>

                {{#items}}
                    {{> totara_competency/partial_detail_item}}
                {{/items}}

                {{#showand}}
                    {{> totara_competency/divider_and}}
                {{/showand}}
            {{/detail}}
        </div>
    </div>
</div>
