{{!
   This file is part of Totara LMS

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Riana Rossouw <riana.rossouw@totaralearning.com>
   @package pathway_criteria_group
}}
{{!

    @template pathway_criteria_group/partial_criteria_type_select

    This template generates the body for the criteria_type modal select

    Classes required for JS:
    * none

    Data attributes required for JS:

    Context variables required for this template:

    Other context variables for following partials:

    Strings:
}}

<div class="cc_selectTree__option cc_hidden" data-crit-type-toggle="{{critTypeLevel}}">
    <ul role="tree" class="cc_selectTree__list_flat">
        {{#criteriaTypes}}
            <li role="none" class="cc-selectTree__list_item">
                <div class="cc-selectTree__list_item_row {{#disabled}}cc_hidden{{/disabled}}"
                     {{#singleuse}}data-crit-type-singleuse-active{{/singleuse}}>
                    <span class="cc-selectTree__list_row_icon">
                        <span class="cc-selectTree__list_row_icon_none"></span>
                    </span>
                    <a role="treeitem"
                       href="#"
                       class="tw-selectTree__list_row_link"
                       data-{{critTypeLevel}}-crit-type-option="{{type}}">
                        {{title}}
                    </a>
                </div>

                {{#singleuse}}
                <div class="{{^disabled}}cc_hidden{{/disabled}}" data-crit-type-singleuse-disabled>
                    <span class="cc-selectTree__list_row_icon">
                        <span class="cc-selectTree__list_row_icon_none"></span>
                    </span>
                    {{title}}
                </div>
                {{/singleuse}}
            </li>
        {{/criteriaTypes}}
    </ul>
</div>
