{{!
   This file is part of Totara Learn

   Copyright (C) 2019 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Fabian Derschatta <fabian.derschatta@totaralearning.com>
   @package totara_competency
}}
{{!
    @template totara_competency/save_modal

    Content for save modal

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-tw-assigncomp-save-modal-checkbox: Used for fetching checkbox value

    Context variables required for this template:
    * none
}}

<div class="tw-assignComp__saveModal">
    <p>{{count_string}}</p>
    <p class="tw-assignComp__saveModal_confirm">
        <input type="checkbox" id="tw-assignComp__saveModal_activate_checkbox" data-tw-assigncomp-save-modal-checkbox="">
        <label for="tw-assignComp__saveModal_activate_checkbox">
            {{#str}}save_activate_assignments, totara_competency{{/str}}
        </label>
    </p>
    <p>{{#str}}save_modal_question, totara_competency{{/str}}</p>
</div>