{{!
   This file is part of Totara Learn

   Copyright (C) 2019 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Fabian Derschatta <fabian.derschatta@totaralearning.com>
   @package totara_core
}}
{{!

    @template totara_competency/_test_lists_manager

    This template is just used for the lists test page

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-tw-list-hasHierarchy: bool, has checkboxes
    * data-tw-list-hasCheckboxes: bool, has hierarchy
    * data-tw-loader-target: Target for adding & removing loading display

    Context variables required for this template:
    * has_checkboxes: bool, has checkboxes
    * has_hierarchy: bool, has hierarchy
}}

<div data-core-autoinitialise="true"
     data-core-autoinitialise-amd="totara_competency/test_lists_manager"
     data-tw-list-hasHierarchy="{{has_hierarchy}}"
     data-tw-list-hasCheckboxes="{{has_checkboxes}}"
     data-tw-loader-target="">
        {{> totara_competency/action_list }}
</div>