{{!
   This file is part of Totara LMS

   Copyright (C) 2019 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template totara_competency/users

    Shows the assigned users embedded report

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * debughtml     if debug is active contains debug information
    * restrictions  restrictions part of the report
    * description   report description
    * savedsearch   available saved searches
    * search        report filter output
    * sidebar       for the report
    * reporthtml    actual report
    * export        export selection
    * index_url     url for the index page (assignments)

}}

<a href="{{index_url}}" class="tw-assignComp__backLink">
    {{#str}}assignment_back_to_assignments, totara_competency{{/str}}
</a>

<h2>{{title}}</h2>

{{{ debughtml }}}
{{{ restrictions }}}
{{{ description }}}
{{{ savedsearch }}}
{{{ search }}}
{{{ sidebar }}}
{{{ reporthtml }}}
{{{ export }}}