# This file lists files/directories that are not included in Totara packages built by git-archive
.gitattributes export-ignore
.gitignore export-ignore

**/yui/build/** -diff
**/amd/build/** -diff
theme/bootstrapbase/style/editor.css -diff
theme/bootstrapbase/style/moodle.css -diff
