<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../server/lib/phpunit/phpunit.xsd"
    bootstrap="../../server/lib/phpunit/bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    backupGlobals="false"
    backupStaticAttributes="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    beStrictAboutOutputDuringTests="true"
    printerClass="Hint_ResultPrinter"
    testSuiteLoaderClass="phpunit_autoloader"
    beStrictAboutTestsThatDoNotTestAnything="false"
>
    <php>
        <!--<const name="PHPUNIT_LONGTEST" value="1"/> uncomment to execute also slow or otherwise expensive tests-->
        <!--<const name="PHPUNIT_DISABLE_UNRESET_PROPERTIES_CHECK" value="1"/> uncomment to disable check which protects against creating memory leaks-->
        <!--Following constants instruct tests to fetch external test files from alternative location or skip tests if empty, clone https://github.com/totara/exttests to local web server-->
        <!--<const name="TEST_EXTERNAL_FILES_HTTP_URL" value="http://test.totaralms.com/exttests"/> uncomment and alter to fetch external test files from alternative location-->
        <!--<const name="TEST_EXTERNAL_FILES_HTTPS_URL" value="https://test.totaralms.com/exttests"/> uncomment and alter to fetch external test files from alternative location-->
    </php>
    <testsuites>
        <!-- Subsystem directories are automatically added providing they have a test directory -->
        <!--@subsystem_suites_start@-->
        <!--@subsystem_suites_end@-->

        <!-- Plugin directories are automatically added providing they have a test directory -->
        <!--@plugin_suites_start@-->
        <!--@plugin_suites_end@-->

        <!-- Non-standard test locations. These are neither subsystems nor plugins. -->
        <testsuite name="core_phpunit_testsuite">
            <directory suffix="_test.php">../../server/lib/phpunit/tests</directory>
        </testsuite>
        <testsuite name="core_test_testsuite">
            <directory suffix="_test.php">../../server/lib/testing/tests</directory>
        </testsuite>
        <testsuite name="core_ddl_testsuite">
            <directory suffix="_test.php">../../server/lib/ddl/tests</directory>
        </testsuite>
        <testsuite name="core_dml_testsuite">
            <directory suffix="_test.php">../../server/lib/dml/tests</directory>
        </testsuite>
        <testsuite name="core_files_testsuite">
            <directory suffix="_test.php">../../server/lib/filestorage/tests</directory>
        </testsuite>
        <testsuite name="core_grade_testsuite">
            <directory suffix="_test.php">../../server/lib/grade/tests</directory>
        </testsuite>
        <testsuite name="core_backup_testsuite">
            <directory suffix="_test.php">../../server/backup/controller/tests</directory>
            <directory suffix="_test.php">../../server/backup/converter/moodle1/tests</directory>
            <directory suffix="_test.php">../../server/backup/moodle2/tests</directory>
        </testsuite>
        <testsuite name="core_iplookup_testsuite">
            <directory suffix="_test.php">../../server/iplookup/tests</directory>
        </testsuite>
        <testsuite name="core_question_testsuite">
            <directory suffix="_test.php">../../server/question/engine/tests</directory>
            <directory suffix="_test.php">../../server/question/type/tests</directory>
            <directory suffix="_test.php">../../server/question/engine/upgrade/tests</directory>
        </testsuite>
        <testsuite name="core_external_testsuite">
            <directory suffix="_test.php">../../server/lib/external/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>