// Be mindful of theme colors when styling buttons and links.
@mod_facetoface-error-colour: @state-danger-text;
@mod_facetoface-overbooked: #f2d9b3;
@mod_facetoface-cancelled: #e6bdbc;
@mod_facetoface-upcomming: #daead3;
@mod_facetoface-warning: #ffffc0;
@mod_facetoface-full: #b3dab6;

.f2fsessionlinks,
.f2fsessionnotice {
    display: block;
    padding: 12px 0 8px;
}

.f2factivityname {
    line-height: @line-height-small;
}

body#page-mod-facetoface-room div.row-fluid {
    margin: 0;
}

body#page-mod-facetoface-view div#page-content table.sessions {
    width: 100%;
}

body.path-mod-facetoface table.mod-facetoface-attendees {
    width: 100%;
}

body.path-mod-facetoface div#fgroup_id_recipients input[id*="id_booked_type"] {
    margin-left: 15px;
}

.mod_facetoface-addremove button {
    min-width: 100px;
}

.f2f dt {
    word-wrap: break-word;
}

.mod_facetoface-room {
    display: block;
}

/** This is a hack to get full height divs for the status columns with background colours */
.reportbuilder-table[data-source="rb_source_facetoface_summary"] tr,
.reportbuilder-table[data-source="rb_source_facetoface_room_assignments"] tr,
.reportbuilder-table[data-source="rb_source_facetoface_asset_assignments"] tr {
    height: 1px;
}

/** Firefox requires a different hack **/
.gecko .reportbuilder-table[data-source="rb_source_facetoface_summary"] tr,
.gecko .reportbuilder-table[data-source="rb_source_facetoface_room_assignments"] tr,
.gecko .reportbuilder-table[data-source="rb_source_facetoface_asset_assignments"] tr {
    height: 100%;
}

/** IE requires quite a bit more hacking! **/
.ie .reportbuilder-table[data-source="rb_source_facetoface_summary"] tr,
.ie .reportbuilder-table[data-source="rb_source_facetoface_room_assignments"] tr,
.ie .reportbuilder-table[data-source="rb_source_facetoface_asset_assignments"] tr {
    height: 100%;
}

.ie .reportbuilder-table td.session_bookingstatus,
.ie .reportbuilder-table td.session_overallstatus {
    overflow: hidden;
}

.ie .reportbuilder-table td.session_bookingstatus div,
.ie .reportbuilder-table td.session_overallstatus div {
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}

.reportbuilder-table td.session_bookingstatus,
.reportbuilder-table td.session_overallstatus {
    padding: 0;
    /** Part of the full-height hack mentioned above **/
    height: inherit;
}

.reportbuilder-table td.session_bookingstatus > div,
.reportbuilder-table td.session_overallstatus > div {
    text-align: center;
    /** Part of the full-height hack mentioned above **/
    height: 100%;
}

.reportbuilder-table .session_bookingstatus > div > span,
.reportbuilder-table .session_overallstatus > div > span {
    display: inline-block;
    margin: @totara_style-spacing_small;
}

.reportbuilder-table .session_bookingstatus .underbooked,
.reportbuilder-table .session_overallstatus .ended {
    background-color: @mod_facetoface-warning;
}

.reportbuilder-table .session_bookingstatus .available,
.reportbuilder-table .session_overallstatus .upcoming {
    background-color: @mod_facetoface-upcomming;
}

.reportbuilder-table .session_bookingstatus .overbooked {
    background-color: @mod_facetoface-overbooked;
}

.reportbuilder-table .session_overallstatus .cancelled {
    background-color: @mod_facetoface-cancelled;
}

.reportbuilder-table .session_bookingstatus .fullybooked,
.reportbuilder-table .session_overallstatus .started {
    background-color: @mod_facetoface-full;
}

#page-mod-facetoface-attendees-list-addlist textarea[name="csvinput"] {
    min-height: 200px;
}

.mod_facetoface-noshow {
    display: none;
}

.mod_facetoface-show-selectdate-dialog {
    float: right;
}

.mod_facetoface-assetlist {
    list-style-type: none;
    margin: 0;
}

.ui-dialog [id^='selectassets'][id$='-dialog'] .select,
.ui-dialog [id^='selectroom'][id$='-dialog'] .select {
    overflow: auto;
}

.ui-dialog [id^='selectassets'][id$='-dialog'] .dialog-footer,
.ui-dialog [id^='selectroom'][id$='-dialog'] .dialog-footer {
    padding-top: 0.5em;
    display: block;
    float: left;
}

.f2f-ignoreconflicts-checkbox {
    padding: 10px;
}

.f2f-usersbox {
    margin-bottom: 48px;
}

.f2f-booked-type-error {
    border: 1px solid @mod_facetoface-error-colour;
    display: inline-block;
}

.f2f-booked-type-error-hint {
    color: @mod_facetoface-error-colour;
    display: inline-block;
    width: 50%;
}

select.menuf2f-actions,
select.menuf2f-select {
    display: inline-block;
}

select.menuf2f-select {
    margin-right: 0.5em;
}

.dir-rtl select.menuf2f-select {
    margin-left: 0.5em;
}

// styles for the seminar event page

.force-link-color() {
    color: @link-color;

    &:hover,
    &:focus {
        color: @link-hover-color;
        text-decoration: @link-hover-decoration;
    }
}

.mod_facetoface {
    &__action {
        display: flex;
        align-items: center;

        &--near {
            justify-content: flex-start;
        }
        &--far {
            justify-content: flex-end;
        }
        &--center {
            justify-content: center;
        }
    }

    .flex-wrap-vertical-center() {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__filter {
        .flex-wrap-vertical-center();
        padding: 0 @totara_style-spacing_small @totara_style-spacing_small @totara_style-spacing_small;
        margin: @totara_style-spacing_medium 0;
        border: 1px #e6e6e6 solid;
        border-radius: 2px;

        &__item {
            .flex-wrap-vertical-center();
            margin: @totara_style-spacing_small 0 0 0;
            max-width: 100%;

            &__label {
                font-weight: normal;
            }

            .selectmenu() {
                margin: 0 @totara_style-spacing_small;
                max-width: 100%;
            }

            &__room-select {
                .selectmenu();
                width: 250px;
            }

            &__eventtime-select {
                .selectmenu();
                width: 200px;
            }
        }
    }

    &__sessionlist {
        &--empty {
            padding: @totara_style-spacing_medium;
        }

        &__room {
            &__link {
                .force-link-color();
            }
        }

        &__action {
            &__link {
                .force-link-color();
            }
        }

        &__attendance {
            &--open__link {
                .force-link-color();
                font-weight: bold;
            }
            &--saved__link {
                .force-link-color();
            }

            &--none,
            &--locked,
            &--open,
            &--saved {
                &__icon,
                &__icon[class] { // override fontawesome
                    vertical-align: baseline;
                }
            }
        }
    }
}

.dimmed_text {
    a.mod_facetoface__sessionlist__room__link,
    a.mod_facetoface__sessionlist__action__link,
    a.mod_facetoface__sessionlist__attendance--saved__link,
    a.mod_facetoface__sessionlist__attendance--open__link {
        &, &:link {
            .force-link-color();
        }
        // Workaround for Firefox 66 / Chrome 72 link color bug, visible on seminar events dashboard.
        &:not(:focus) {
            .force-link-color();
        }
    }
}


.f2f-inline-box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}

.custom-facetoface-selection {
    max-width: unset;
}

.custom-facetoface-label {
    font-weight: normal;
}

form.f2f-attendance-form {
    margin-top: 7px;
}

.f2f-attendees-table {
    margin-bottom: @form-group-margin-bottom;
}

.f2f-takeattendance-event-summary {
    margin: 16px 0;
}

.f2f-takeattendance-bulk-action-box {
    margin-bottom: 16px;
}

div.mod-facetoface__export-options {
    margin-top: 16px;
}

a.mod_facetoface__action_goback {
    margin: 0 0 3px 5px;
}

.mod_facetoface__grade.input-group {
    display: flex;

    input.form-control {
        width: 6em;

        &:focus::placeholder {
            opacity: 0;
        }
        // Workaround for Edge, which does not see the :focus::placeholder.
        &:focus::-ms-input-placeholder {
            opacity: 0;
        }
    }
}

.path-mod-facetoface {
    form.signinsheet {
        div.fitem > fieldset {
            > legend {
                width: auto;
                padding-right: 0;
                margin-right: 10px;
                .legend {
                    font-weight: normal;
                }
            }
        }
        .felement {
            padding-left: 0;
            select[name="sessiondateid"] {
                padding-left: 0;
            }
            input[name="download"] {
                margin: 0 15px 5px 0;
                color: #287b7c;
            }
        }
    }
}

a.mod_facetoface__action_uploadattendance {
    margin: 0 0 3px 5px;
}
