// Be mindful of theme colors when styling buttons and links.
@mod_facetoface-error-colour: @state-danger-text;
@mod_facetoface-overbooked: #f2d9b3;
@mod_facetoface-cancelled: #e6bdbc;
@mod_facetoface-upcomming: #daead3;
@mod_facetoface-warning: #ffffc0;
@mod_facetoface-full: #b3dab6;

@mod_facetoface-spacing-default: @totara_style-spacing_small;
@mod_facetoface-spacing-large: @totara_style-spacing_large;
@mod_facetoface-spacing-small: @totara_style-spacing_x_small;

@mod_facetoface-navbar-font-size: @totara_style-size_14;
@mod_facetoface-navbar-font-height: @totara_style-size_14;
@mod_facetoface-navbar-height: @mod_facetoface-navbar-font-height * 2;
@mod_facetoface-cancel-close-size: @totara_style-size_40;

.f2fsessionlinks,
.f2fsessionnotice {
    display: block;
    padding: 12px 0 8px;
}

.f2factivityname {
    line-height: @line-height-small;
}

body#page-mod-facetoface-room div.row-fluid {
    margin: 0;
}

body#page-mod-facetoface-view div#page-content table.sessions {
    width: 100%;
}

body.path-mod-facetoface table.mod-facetoface-attendees {
    width: 100%;
}

body.path-mod-facetoface div#fgroup_id_recipients input[id*="id_booked_type"] {
    margin-left: 15px;
}

.mod_facetoface-addremove button {
    min-width: 100px;
}

.f2f dt {
    word-wrap: break-word;
}

/** This is a hack to get full height divs for the status columns with background colours */
.reportbuilder-table[data-source="rb_source_facetoface_summary"] tr,
.reportbuilder-table[data-source="rb_source_facetoface_room_assignments"] tr,
.reportbuilder-table[data-source="rb_source_facetoface_asset_assignments"] tr {
    height: 1px;
}

/** Firefox requires a different hack **/
.gecko .reportbuilder-table[data-source="rb_source_facetoface_summary"] tr,
.gecko .reportbuilder-table[data-source="rb_source_facetoface_room_assignments"] tr,
.gecko .reportbuilder-table[data-source="rb_source_facetoface_asset_assignments"] tr {
    height: 100%;
}

/** IE requires quite a bit more hacking! **/
.ie .reportbuilder-table[data-source="rb_source_facetoface_summary"] tr,
.ie .reportbuilder-table[data-source="rb_source_facetoface_room_assignments"] tr,
.ie .reportbuilder-table[data-source="rb_source_facetoface_asset_assignments"] tr {
    height: 100%;
}

.ie .reportbuilder-table td.session_bookingstatus,
.ie .reportbuilder-table td.session_overallstatus {
    overflow: hidden;
}

.ie .reportbuilder-table td.session_bookingstatus div,
.ie .reportbuilder-table td.session_overallstatus div {
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}

.reportbuilder-table td.session_bookingstatus,
.reportbuilder-table td.session_overallstatus {
    padding: 0;
    /** Part of the full-height hack mentioned above **/
    height: inherit;
}

.reportbuilder-table td.session_bookingstatus > div,
.reportbuilder-table td.session_overallstatus > div {
    text-align: center;
    /** Part of the full-height hack mentioned above **/
    height: 100%;
}

.reportbuilder-table .session_bookingstatus > div > span,
.reportbuilder-table .session_overallstatus > div > span {
    display: inline-block;
    margin: @totara_style-spacing_small;
}

.reportbuilder-table .session_bookingstatus .underbooked,
.reportbuilder-table .session_overallstatus .ended {
    background-color: @mod_facetoface-warning;
}

.reportbuilder-table .session_bookingstatus .available,
.reportbuilder-table .session_overallstatus .upcoming {
    background-color: @mod_facetoface-upcomming;
}

.reportbuilder-table .session_bookingstatus .overbooked {
    background-color: @mod_facetoface-overbooked;
}

.reportbuilder-table .session_overallstatus .cancelled {
    background-color: @mod_facetoface-cancelled;
}

.reportbuilder-table .session_bookingstatus .fullybooked,
.reportbuilder-table .session_overallstatus .started {
    background-color: @mod_facetoface-full;
}

#page-mod-facetoface-attendees-list-addlist textarea[name="csvinput"] {
    min-height: 200px;
}

.mod_facetoface-noshow {
    display: none;
}

.mod_facetoface-show-selectdate-dialog {
    float: right;
}

.mod_facetoface-assetlist,
.mod_facetoface-roomlist {
    list-style-type: none;
    margin: 0;
}

.ui-dialog [id^='selectassets'][id$='-dialog'] .select,
.ui-dialog [id^='selectrooms'][id$='-dialog'] .select {
    overflow: auto;
}

.ui-dialog [id^='selectassets'][id$='-dialog'] .dialog-footer,
.ui-dialog [id^='selectrooms'][id$='-dialog'] .dialog-footer {
    padding-top: 0.5em;
    display: block;
    float: left;
}

.f2f-ignoreconflicts-checkbox {
    padding: 10px;
}

.f2f-usersbox {
    margin-bottom: 48px;
}

.f2f-booked-type-error {
    border: 1px solid @mod_facetoface-error-colour;
    display: inline-block;
}

.f2f-booked-type-error-hint {
    color: @mod_facetoface-error-colour;
    display: inline-block;
    width: 50%;
}

select.menuf2f-actions,
select.menuf2f-select {
    display: inline-block;
}

select.menuf2f-select {
    margin-right: 0.5em;
}

.dir-rtl select.menuf2f-select {
    margin-left: 0.5em;
}

// styles for the seminar event page

.force-link-color() {
    color: @link-color;

    &:hover,
    &:focus {
        color: @link-hover-color;
        text-decoration: @link-hover-decoration;
    }
}

.mod_facetoface {
    &__action {
        display: flex;
        align-items: center;

        &--near {
            justify-content: flex-start;
        }
        &--far {
            justify-content: flex-end;
        }
        &--center {
            justify-content: center;
        }

        > a {
            margin-right: @totara_style-spacing_small;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .flex-wrap-vertical-center() {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .no-list-style() {
        &, & > li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    @border-colour: @totara_style-color_neutral_3;

    &__filter {
        .flex-wrap-vertical-center();
        padding: 0 @totara_style-spacing_small @totara_style-spacing_small @totara_style-spacing_small;
        margin: @totara_style-spacing_medium 0;
        border: 1px @border-colour solid;
        border-radius: @border-radius-default;

        .flex-icon {
            font-size: @ft-size-400;
            margin-top: @totara_style-spacing_small;
        }

        .child() {
            .flex-wrap-vertical-center();
            margin: @totara_style-spacing_small @totara_style-spacing_small 0 @totara_style-spacing_small;
            max-width: 100%;
        }

        .filter-item() {
            .child();

            &__label {
                margin: 0;
                // Override Moodle form
                font: inherit;
                padding: 0;
            }

            &__select {
                margin: 0 @totara_style-spacing_small;
                max-width: 100%;
                // Override Moodle form
                font-size: inherit;
                height: 2.5em;
            }
        }

        &__item {
            // Note: use 'ch' unit only if we can drop the support of IE

            &__room {
                .filter-item();
                &__select {
                    // Avoid min-width here
                    // Otherwise the <select> element could cover the whole screen width if a room name is very loooong!
                    width: 15em; // IE11 works with max-width instead of width here
                    text-overflow: ellipsis;
                }
            }

            &__eventtime {
                .filter-item();
                &__select {
                    min-width: 8em;
                }
            }

            &__advanced {
                .filter-item();
                &__select {
                    min-width: 10em;
                }
            }

            &__book {
                .filter-item();
                &__select {
                    min-width: 12em;
                }
            }
        }

        &__link {
            .child();
        }
    }

    &__sessionlist {
        // Make the session list table horizontally scrollable in the content area,
        // so it wouldn't overlap the blocks on right side
        overflow-x: auto;
        margin-bottom: @totara_style-spacing_large;

        &--empty {
            padding: @totara_style-spacing_medium;
        }

        &__show-previous--hidden {
            display: none;
        }

        &__table {
            .table;
            // Override .table
            margin-bottom: 0;
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        // Override the border inserted by Bootstrap
                        border-top: none;
                    }
                }
            }
            // Add bottom border
            > tbody {
                border-bottom: 2px solid @table-border-color;
            }
            // Always accent
            > tbody > tr {
                background-color: @table-bg-accent;
                // &:hover {
                //     background-color: @table-bg-hover;
                // }
            }
            // Add a border between sessions
            &__sessionrow {
                @table-thin-border-color: mix(@table-border-color, @totara_style-color_neutral_7, 80%);
                border-top: 1px solid @table-thin-border-color;

                // Add a thick border between events
                &.firstsession,
                &.waitlisted {
                    border-top: 2px solid @table-border-color;
                }

                // Simulate highlight and dimmed_text of T12
                &.userbooked {
                    &:not(.over):not(.cancelled) {
                        .highlight;
                    }
                }
                &:not(.userbooked) {
                    &.started,
                    &.cancelled,
                    &.fullybooked,
                    &.closed {
                        .text-muted;
                    }
                }
            }
        }

        &__eventtime {
            white-space: nowrap;
        }

        &__event-status {
            .no-list-style();

            &__event,
            &__booking,
            &__user {
                white-space: nowrap;
            }
            &__user {
                font-size: @totara_style-size_13;
            }
        }

        &__timezone {
            font-size: @totara_style-size_12;
            display: block;
        }

        &__room {
            max-width: 15em;
            > ul.roomlist {
                .no-list-style();
            }
        }

        &__roomdetails {
            font-size: @totara_style-size_12;
            display: block;
        }

        &__action {
            &__buttons {
                display: flex;
                font-size: @totara_style-size_16;
                margin-bottom: @totara_style-spacing_x_small;
            }
            &__link {
                display: block;
                white-space: nowrap;
            }
            &__reserve {
                display: block;
            }
        }

        &__attendance {
            &--open__link {
                font-weight: bold;
            }

            &--none,
            &--locked,
            &--open,
            &--saved {
                &__icon,
                &__icon[class] { // override fontawesome
                    vertical-align: baseline;
                }
            }
        }
    }

    &__event_details {
        dt {
            margin-top: @totara_style-spacing_small;
        }
        hr {
            margin: @totara_style-spacing_small 0;
        }
        &__room, &__asset {
            margin-bottom: @totara_style-spacing_small;
        }
    }

    // Put "Add event" on the right side of <h3>Events</h3>
    &__action-dashboard,
    &__action-editevent,
    &__action-eventinfo {
        float: right;
    }
    &__sessionlist {
        clear: right;
    }

    &__capacity {
        &__current {
            font-weight: bold;
        }
    }

    &__booking {
        &__dates {
            list-style: none;
            margin: 0;
            padding: 0;

            &--waitlisted {
                font-style: italic;
            }
        }

        &__date {
            margin: 0 0 @mod_facetoface-spacing-small;
            padding: 0;
        }

        &__users {
            margin: 0;
            padding: 0;
        }

        &__user {
            margin: 0 0 0 @mod_facetoface-spacing-default;
            padding: 0;
        }
    }

    .divider() {
        border-bottom: 1px solid @border-colour;
    }

    &__action-reservation {
        border-top: 1px solid @border-colour;
        padding-top: @mod_facetoface-spacing-default;
    }

    &__navigation {
        .divider();

        background-color: @bg-default;
        color: @color-default;
        margin-left:  0px - ceil((@grid-gutter-width / 2));
        margin-right: 0px - floor((@grid-gutter-width / 2));
        padding-left:  ceil((@grid-gutter-width / 2));
        padding-right: floor((@grid-gutter-width / 2));
        position: relative; // For web browsers that don't support sticky position
        position: sticky;
        top: 0;
        z-index: 100;

        &__items {
            display: flex;

            a {
                border-right: 1px solid @border-colour;
                font-size: @mod_facetoface-navbar-font-size;
                line-height: @mod_facetoface-navbar-font-height;
                margin: ((@mod_facetoface-navbar-height - @mod_facetoface-navbar-font-height) / 2) 0;
                padding: 0 @mod_facetoface-spacing-default;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }

        &__top {
            line-height: @mod_facetoface-navbar-height;
            position: absolute;
            right: floor((@grid-gutter-width / 2));
            top: 0;
        }
    }

    &__eventinfo {
        display: flex;
        margin-bottom: @mod_facetoface-spacing-default;

        &__content {
            flex: 1;
            order: 0;

            &__management {
                .divider();

                margin-bottom: 0;
                margin-left: 0px - ceil((@grid-gutter-width / 2));
                padding: @mod_facetoface-spacing-small ceil((@grid-gutter-width / 2));

                &__items {
                    margin: 0;
                    padding: 0;
                }

                &__item {
                    list-style: none;
                    margin: .15rem;
                    padding: 0;
                }
            }

            .section_divider() {
                .divider();
                margin-bottom: @mod_facetoface-spacing-default;
                padding-bottom: @mod_facetoface-spacing-default;
            }

            &__intro {
                .section_divider();
            }

            &__eventdetail {
                .section_divider();

                &__heading {
                    margin-top: 0;
                    margin-bottom: 0;

                    > a {
                        &, &:hover, &:focus {
                            color: inherit;
                        }

                        &::before {
                            content: '';
                            width: 0;
                            height: 0;
                            border-style: solid;
                            display: inline-block;
                        }

                        &.f2f-collapsed::before {
                            margin: 0 9px 0 7px;
                            border-width: 8px 0 8px 8px;
                            border-color: transparent currentColor transparent;
                        }

                        &.f2f-expanded::before {
                            margin: 0 6px 4px 2px;
                            border-width: 8px 8px 0;
                            border-color: currentColor transparent transparent;
                        }
                    }
                }

                &__section {
                    .section_divider();

                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }

                    > dl {
                        margin-bottom: floor(@line-height-computed / 2);
                        margin-top: floor(@line-height-computed / 2);

                        > dt {
                            margin-top: floor(@line-height-computed / 4);
                        }
                    }
                }
            }
        }

        .sidebar-panel-close() {
            height: 0;
            min-height: 0;
            padding: 0;
            transform: scaleY(0);
            visibility: hidden;
        }

        .sidebar-panel-open() {
            height: auto;
            min-height: 200px; // DES-89
            padding: @mod_facetoface-spacing-large;
            transform: none;
            visibility: visible;
        }

        &__sidebars {
            width: 33%;
            max-width: 480px;
            min-width: 320px;
            order: 1;
            padding: @mod_facetoface-spacing-large @mod_facetoface-spacing-default 0;
        }

        &__sidebar {
            background-color: @bg-default;
            color: @color-default;

            // Here comes the good-old clearfix
            .clearfix();

            &__panel {
                .sidebar-panel-open();

                border-radius: @border-radius-default;
                box-shadow: 0 1px 5px rgba(0,0,0,.5);
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0;
                position: relative;
                transition: transform .4s;
                transform-origin: top;
                width: 100%;

                // Cosmetic adjustments of Moodle form and its elements to fit in 320px
                > .mform {
                    .fdescription.required {
                        margin-right: ~"calc(" @mod_facetoface-cancel-close-size ~" - " @mod_facetoface-spacing-large ~")";
                    }

                    #id_submitbutton {
                        width: 100%;
                    }

                    .fitem {
                        margin-bottom: 1em;

                        .fitemtitle, .felement {
                            float: none;
                            width: auto;
                        }

                        .felement {
                            padding-top: @totara_style-size_8;

                            label {
                                display: inline;
                            }
                        }

                        .fdate_selector > .felement > span {
                            white-space: nowrap; // nowrap between checkbox and label
                        }

                        &.fitem_fselect select,
                        &.fitem_ftextarea textarea {
                            max-width: 100%;
                        }

                        > fieldset {
                            display: flex;
                            flex-direction: column;

                            > legend {
                                margin-bottom: 0;
                                width: auto;
                            }
                        }

                        // NOTE: this is not `&__actionbuttons`
                        &_actionbuttons > {
                            margin-bottom: 0;

                            div.felement {
                                display: flex;
                                justify-content: center;
                                margin: 0;
                            }
                        }
                    }

                    .fgroup {
                        display: flex;
                    }
                }
            }

            .with-heading() {
                text-align: center;

                h3 {
                    line-height: 3em;
                    margin: 0;
                    padding: 0;
                }
            }

            &__cancellation {
                .with-heading();
            }

            &__cancellation-confirm {
                .sidebar-panel-close();
            }

            &__signup-failure {
                .with-heading();

                background: mix(@bg, @bg-default);
                color: @color-default;
            }

            &__cancellation-cancellation {  // NOTE: this is not a typo.
                cursor: pointer;
                font-size: @mod_facetoface-cancel-close-size;
                line-height: 1;
                padding: 0;
                position: absolute;
                top: 0;
                right: @mod_facetoface-spacing-default;
            }
        }

        &__cancellation {
            display: none;

            &__link {
                .force-link-color();
                cursor: pointer;
                font: inherit;
            }

            &:checked {
                & ~ .mod_facetoface__eventinfo__sidebar__cancellation {
                    .sidebar-panel-close();
                }
                & ~ .mod_facetoface__eventinfo__sidebar__cancellation-confirm {
                    .sidebar-panel-open();
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .mod_facetoface {
        &__navigation {
            padding-left:  ceil((@grid-gutter-width / 3));
            padding-right: floor((@grid-gutter-width / 3));
        }

        &__eventinfo {
            flex-direction: column;

            &__content {
                flex: auto; // IE11 needs this
                order: 1;
            }

            &__sidebars {
                margin-bottom: @mod_facetoface-spacing-large;
                max-width: none;
                min-width: auto;
                order: 0;
                padding-left: 0;
                padding-right: 0;
                width: auto;

                > .mform {
                    float: none;
                    padding-bottom: @mod_facetoface-spacing-default;
                }
            }
        }
    }
}

#page-mod-facetoface-eventinfo {
    // Remove the padding between the breadcrumbs and the navbar
    #page-content {
        padding-top: 0;
    }
}

.f2f-inline-box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.custom-facetoface-selection {
    max-width: unset;
}

.custom-facetoface-label {
    font-weight: normal;
}

.f2f-attendees-table {
    margin-bottom: @form-group-margin-bottom;

    input[name="saveattendance"] {
        .btn-primary;
    }

    .actionsbuttons {
        display: block;

        @media (min-width: @totara_style-screen_md_min) {
            margin-left: 33.3333%;
        }

        @media (min-width: @totara_style-screen_lg_min) {
            margin-left: 25%;
        }
    }
}

.f2f-takeattendance-event-summary {
    margin: 16px 0;
}

.f2f-takeattendance-bulk-action-box {
    margin-bottom: @form-group-margin-bottom;
    padding: @totara_style-spacing_small;
    border: 1px #e6e6e6 solid;
    border-radius: 2px;

    .bulkactionstring {
        margin-top: 7px;
        margin-right: @totara_style-spacing_medium;
        float: left;

        @media (min-width: @totara_style-screen_md_min) {
            width: 33.3333%;
        }

        @media (min-width: @totara_style-screen_lg_min) {
            width: 25%;
        }
    }
    
    .facetoface-bulk-actions-selector,
    .facetoface-bulk-actions-picker {
        float: left;
    }

    #selectoptionbefore {
        display: none;
        color: @mod_facetoface-error-colour;
        
        &.f2f-selectionoptionbefore-error {
            display: block;
        }
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

div.mod-facetoface__export-options {
    margin-top: 16px;
}

a.mod_facetoface__action_goback {
    margin: 0 0 3px 5px;
}

.mod_facetoface__grade.input-group {
    display: flex;

    input.form-control {
        width: 6em;

        &:focus::placeholder {
            opacity: 0;
        }
        // Workaround for Edge, which does not see the :focus::placeholder.
        &:focus::-ms-input-placeholder {
            opacity: 0;
        }
    }
}

.path-mod-facetoface {
    form.signinsheet {
        div.fitem > fieldset {
            > legend {
                width: auto;
                padding-right: 0;
                margin-right: 10px;
                .legend {
                    font-weight: normal;
                }
            }
        }
        .felement {
            padding-left: 0;
            select[name="sessiondateid"] {
                padding-left: 0;
            }
            input[name="download"] {
                margin: 0 15px 5px 0;
                color: #287b7c;
            }
        }
    }
    form.mform_seminarevent_cancellation {
        div.eventcancellationtext {
            margin-bottom: @totara_style-spacing_medium;
        }
    }
}

.path-mod-facetoface {
    form.import_export {
        padding-top: @totara_style-spacing_large;
        legend {
            margin-bottom: @totara_style-spacing_medium;
        }
        .fitem {
            margin-left: 0px;
        }
        div.fitem > fieldset {
            a.mod_facetoface__action_uploadattendance,
            a.mod_facetoface__action_csvexportupload,
            select[name="f2f-export-actions"] {
                margin: 0 10px 3px 0px;
            }
        }
    }
    table.userstoupload {
        span.usernotfound {
            margin-left: @totara_style-size_4;
        }
    }
}
