/* Simplified CSS stylesheet used for dompdf rendering, it is inlined directly into the html page markup */
/* TODO TL-14160 remove CSS not used by dompdf */

* {
    font-family: "DejaVu Sans", sans-serif;
    text-decoration: none;
}

div.appraisal-content {
    padding-left: 1em;
}

div.appraisal-content .fitem.fitem_fgroup select {
    display: inline-block;
}

div.appraisal-content .mform .fitem .felement {
    padding: 0;
}

.appraisal-title {
    float: none;
}

.appraisal-headerbuttons input[type="button"] {
    margin-left: 10px;
}

.appraisal-stage {
    clear: both;
}

.path-totara-appraisal .fcontainer {
    padding-left: 30px;
}

.path-totara-appraisal .fcontainer .fstaticlabel a {
    margin-right: 10px;
}

.path-totara-appraisal .fcontainer .felement.fstatic {
    padding-top: 7.5px;
}

.path-totara-appraisal .fcontainer .action-icon.delete {
    float: left;
    margin-right: 5px;
}

#page-totara-appraisal-snapshot .collapsible-actions,
#page-totara-appraisal-snapshot .visibleto,
#page-totara-appraisal-snapshot .visibleto-review,
#page-totara-appraisal-snapshot .skiplinks {
    display: none;
}

.addoptionlink {
    display: none;
}

#appraisalstagecontainer {
    margin-top: 10px;
}

.appraisal-page-pane {
    float: left;
    max-width: 340px;
}

.appraisal-content {
    margin-left: 339px;
    border: 1px solid #eee;
    min-height: 200px;
    background-color: #fff;
}

div.appraisal-content fieldset {
    margin: 0;
    padding: 0;
}

div.appraisal-content .fitem {
    display: none;
}

div.appraisal-content .fitem.fitem_fgroup {
    display: block;
    margin: 0;
    padding: 0;
}

#fgroup_id_addquestgroup:after {
    clear: none;
}

.appraisal-page-container .appraisal-page-list,
.appraisal-page-container .appraisal-quest-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: .5em;
    background-color: white;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.appraisal-page-list {
    border-left: 1px solid #eee;
}

ul.appraisal-quest-list {
    border: none;
}

ul.appraisal-page-list li,
.yui3-dd-proxy {
    width: 339px;
    padding: 6px;
}

ul.appraisal-quest-list li {
    padding: 6px;
}

ul.appraisal-page-list a.appraisal-page-list-name,
ul.appraisal-quest-list a.appraisal-quest-list-name {
    max-width: 250px;
    overflow: hidden;
    display: inline-block;
}

.appraisal-page-actions,
.appraisal-quest-actions {
    float: right;
}

.appraisal-stages .lastcol {
    text-align: right;
}

table.appraisal-stages tr,
ul.appraisal-page-list li,
ul.appraisal-quest-list li {
    background-color: #fff;
}

table.appraisal-stages tr:hover,
ul.appraisal-page-list li:hover,
ul.appraisal-quest-list li:hover {
    background-color: #f5f5f5;
}

table.appraisal-stages tr.selected,
ul.appraisal-page-list li.selected,
ul.appraisal-quest-list li.selected {
    background-color: #e6e6e6;
}

body.jsenabled .js-hide,
.js-show,
.js-show-inline {
    display: none;
}

body.jsenabled .js-show {
    display: block;
}

body.jsenabled .js-show-inline {
    display: inline;
}

table.role_matrix td.cell {
    padding: 0 .5em;
}

table.role_matrix td.cell div.fitem {
    padding-bottom: 0;
    margin-bottom: 0;
}

table.role_matrix td.cell div.felement {
    float: none;
}

table.role_matrix td div.fitem div.fitemtitle {
    width: 0;
}

.appraisal-previewer {
    float: right;
}

li.yui3-dd-draggable {
    cursor: move;
}

.path-admin-totara-appraisal.yui3-skin-sam .yui3-panel-content,
.path-totara-appraisal.yui3-skin-sam .yui3-panel-content {
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.path-admin-totara-appraisal.yui3-skin-sam .yui3-panel-content .yui3-widget-hd,
.path-totara-appraisal.yui3-skin-sam .yui3-panel-content .yui3-widget-hd {
    background: #f5f5f5;
    color: #444;
    font-weight: bold;
}

.path-admin-totara-appraisal.yui3-skin-sam .yui3-panel-content .yui3-widget-hd,
.path-admin-totara-appraisal.yui3-skin-sam .yui3-panel-content .yui3-widget-bd,
.path-totara-appraisal.yui3-skin-sam .yui3-panel-content .yui3-widget-hd,
.path-totara-appraisal.yui3-skin-sam .yui3-panel-content .yui3-widget-bd {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.path-admin-totara-appraisal.yui3-skin-sam .yui3-panel .yui3-widget-ft,
.path-totara-appraisal.yui3-skin-sam .yui3-panel .yui3-widget-ft {
    background: none;
}

.appraisal-stage {
    width: auto;
    margin: 1em 0;
    border: 1px solid #444;
    padding: 10px;
    overflow: hidden;
    position: relative;
    min-height: 100px;
}

.appraisal-stage > div {
    display: block;
    float: left;
}

.appraisal-stage {
    background: #f5f5f5;
}

.appraisal-headerbuttons {
    float: right;
    overflow: hidden;
}

.appraisal-stagelist {
    clear: both;
    margin: 15px 0;
}

.appraisal-stagetitle {
    width: 19%;
}

.appraisal-stageinfo {
    width: 51%;
    margin: 0 1%;
}

.appraisal-stageinfo p {
    margin: 0;
}

.appraisal-stageinfo h4 + p {
    margin-bottom: 10px;
}

.appraisal-stageactions {
    width: 14%;
}

.appraisal-stageactions > * {
    float: right;
}

.appraisal-stageactions .btn {
    display: inline-block;
    margin: 5px;
    padding: 4px 0;
    width: 118px;
    text-align: center;
}

.appraisal-stageactions input[type="submit"] {
    width: 120px;
}

.appraisal-stage .appraisal-stagestate {
    width: 14%;
    text-align: center;
    float: right;
    margin-top: 20px;
}

.appraisal-stage .appraisal-stagestate .flex-icon {
    font-size: 40px;
    width: 100%;
    display: block;
}

.appraisal-stage .appraisal-stagestate .appraisal-statetext {
    font-size: 20px;
    display: block;
}

div.tabtree {
    margin-bottom: 10px;
}

input[type=text] {
    max-width: 335px;
}

input[type=text].appraisal-event-time {
    width: 5em;
}

input[type=text].appraisal-event-title,
textarea.appraisal-event-body {
    width: 30em;
}

textarea.appraisal-event-body {
    height: 15em;
}

.viewing-xs-appraisal {
    margin-bottom: 0;
}

.path-totara-appraisal div.plan_box {
    margin-top: 0;
}

.path-totara-appraisal div.plan_box .invisiblepadded td {
    padding-top: 0;
    padding-bottom: 0;
}

.path-totara-appraisal div.plan_box img {
    display: block;
}

#appraisalanswers1 div.fcontainer > div.fitem {
    min-height: 35px;
}

form.print-stages-form .fitem .felement,
form.print-stages-form .fitem .fitemtitle {
    width: 100%;
}

#fgroup_stages-list fieldset.fgroup {
    margin-top: 3px;
}

#fgroup_stages-list fieldset span {
    margin-left: 5px;
}

.fwhitespace {
    height: 48px;
}

#assignedgroups {
    padding-top: 1em;
}

#assignedusers .dataTables_length {
    padding-bottom: 1em;
}

.appraisal-usermessage {
    display: block;
}

.appraisal-stagetitle h3 {
    margin: 10px 0 5px 0;
}

.visibleto {
    display: none;
}

.visibleto-review {
    display: none;
}

.userpicture {
    display: none;
}

.skiplinks {
    display: none;
}

.mform fieldset legend.ftoggler {
    font-size: 18px;
    color: #087bb1;
}

.mform fieldset .fcontainer {
    padding: 10px 0;
}

.mform fieldset .fcontainer h3 {
    font-size: 16px;
}

.mform .fitem .fitemtitle {
    float: left;
    width: 180px;
}

.mform .fitem .felement {
    padding: 0 185px;
}

.path-totara-appraisal .plan_box .cell {
    background-color: #fff;
}

.path-totara-appraisal .plan_box .cell img {
    margin: 10px 0;
}

.appraisal-stage {
    margin: 10px 0;
    page-break-inside: avoid;
}

.redisplay-notification-nomargin .notifyproblem {
    margin: 0;
}

#preview-appraisal-notification {
    min-height: 115px;
}

.update_assignment_records {
    margin-top: -5px;
    float: right;
}

.plan_box a {
    text-decoration: none;
}

.appraisal-usermessage .flex-icon:after {
    content: " ";
}

.appraisal-disabled {
    color: #6e6e6e;
}

.appraisal-disabled:after {
    content: " ";
}

.dir-rtl .appraisal-page-pane {
    float: right;
}

.dir-rtl .update_assignment_records {
    float: left;
}

.dir-rtl .appraisal-stageactions > * {
    float: left;
}

.dir-rtl .appraisal-previewer {
    float: left;
}

.dir-rtl .appraisal-headerbuttons {
    float: left;
}

.dir-rtl .appraisal-content {
    margin-right: 338px;
    margin-left: 0;
}

.dir-rtl .appraisal-page-list {
    border-left: none;
    border-right: 1px solid #eee;
}

.dir-rtl .appraisal-page-actions,
.dir-rtl .appraisal-quest-actions {
    float: left;
}

.dir-rtl .appraisal-stages .lastcol {
    text-align: left;
}

.dir-rtl.path-totara-appraisal .fcontainer {
    padding-right: 30px;
}

.dir-rtl.path-totara-appraisal .fcontainer .fstaticlabel a {
    margin-left: 10px;
}

.dir-rtl.path-totara-appraisal .fcontainer .action-icon.delete {
    float: right;
    margin-left: 5px;
}

.dir-rtl .appraisal-stage .appraisal-stagestate {
    float: left;
}

.dir-rtl .appraisal-stage > div {
    float: right;
}