@mixin background-in-file-manager() {
  .filemanager-container {
    background: #ddd url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202%202%22%3E%3Cpath%20d%3D%22M1%202V0h1v1H0v1z%22%20fill-opacity%3D%22.1%22%2F%3E%3C%2Fsvg%3E");
    background-size: 16px 16px;
  }
  .fp-iconview .fp-filename-field .fp-filename {
    background: rgba(255, 255, 255, .7);
  }
}

#admin-manifest_app_icon_color {
  @include background-in-file-manager();
}

#admin-manifest_app_icon_outline {
  @include background-in-file-manager();
}
