/** JavaScript state rules **/
.jsenabled .block_settings.dock_on_load,
.block_settings .block_tree_box .requiresjs {display:none;}
.jsenabled .block_settings .block_tree_box .requiresjs {display:inline;}

/** General display rules **/
.block_settings .block_tree {margin:5px;padding-left:0px;overflow:visible;}
.block_settings .block_tree li {margin:0;list-style: none;}
.block_settings .block_tree li ul {padding-left:18px;margin:0;}

.block_settings .block_tree li.item_with_icon > p {position:relative;}
.block_settings .block_tree li.item_with_icon > p img {font-size: 16px;vertical-align:middle;width: 1.3em; height: 16px;}
.block_settings .block_tree li.item_with_icon .leaf { padding: 0; }
.dir-rtl .block_settings .block_tree li.item_with_icon .flex-icon { margin-left: 4px; }

.block_settings .block_tree .tree_item {margin:3px 0px;}
.block_settings .block_tree .item_with_icon .tree_item {padding-left: 0;}

.block_settings .block_tree .active_tree_node {font-weight:bold;}
.jsenabled .block_settings .block_tree .tree_item.branch {cursor:pointer;}
.jsenabled .block_settings .block_tree .collapsed ul {display: none;}

/** Internet explorer specific rules **/
.ie6 .block_settings .block_tree .tree_item {width:100%;}

/** Overide for RTL layout **/
.dir-rtl .block_settings .block_tree {padding-right:0px;}
.dir-rtl .block_settings .block_tree li ul {padding-left:0;padding-right: 18px;}
.dir-rtl .block_settings .block_tree .tree_item.branch {background-position: center right;}
.dir-rtl .block_settings .block_tree li.item_with_icon > p img { right: 0; left: auto;}
