{{!
   This file is part of Totara Learn

   Copyright (C) 2020 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Simon Chester <simon.chester@totaralearning.com>
   @package core_form
}}
{{!
    @template core_form/colourpicker

    Moodle forms colour picker template.

    Context variables required for this template:
    * name - element name
    * id - element id
    * value - element value

    Example context (json):
    {
        "name": "example",
        "id": "example_id",
        "value": "#5e67e4"
    }
}}
<div class="form-colourpicker defaultsnext">
    <div class="admin_colourpicker clearfix"></div>
    <input type="text" name="{{name}}" id="{{id}}" value="{{value}}" class="text-ltr">
</div>
