# Codechecker tool
/local/codechecker/
# Build files we don't want.
# AMD build files
/**/amd/build/
# YUI build and coverage coverage
/**/yui/build/
/lib/yuilib/*/build/
/lib/yuilib/*/*/*-coverage.js
# Node modules for Totara
/node_modules/
# Behat parallel run symlinks
/behatrun*