form fieldset.multiselect span {
    min-width: 200px;
    display: inline-block;
}

.js-delete {
    display: none;
}

.mapaddresslookup .location_map {
    display: block;
    width: 50%;
    height: 300px;
    background: #CCCCCC;
}

.mapaddresslookup .map_small {
    width: 100%;
    height: 40%;
}

.mapaddresslookup .map_medium {
    width: 100%;
    height: 60%;
}

.mapaddresslookup .map_large {
    width: 100%;
    height: 80%;
}

/* Desktop */
@media (min-width: 1025px) {
    .mapaddresslookup .map_small {
        width: 50%;
        height: 20%;
    }

    .mapaddresslookup .map_medium {
        width: 75%;
        height: 30%;
    }

    .mapaddresslookup .map_large {
        width: 100%;
        height: 40%;
    }
}