.block_totara_report_table .instantreportwait {
    display: block;
    position: absolute;
}

.block_totara_report_table .rb-display-table-container {
    width: 100%;
}

.block_totara_report_table .rb-loading .totara-table-container {
    opacity: 0.5;
}