{{!
   This file is part of Totara Learn

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Michael Dunstan <michael.dunstan@androgogic.com>
   @package totara_contentmarketplace
}}
{{!
    @template totara_contentmarketplace/filter_checkboxes

    Content Marketplace explorer filter control

    Example context (json):
    {
        "name": "tags",
        "options": [
            {
                "label": "Food",
                "value": "food",
                "count": "12,345",
                "checked": true,
            },
            {
                "label": "Drink",
                "value": "drink",
                "count": "1,234",
                "checked": false,
            }
        ]
    }

}}
<div class="tf_element_input tcm-checkbox-filter">
    {{#paginated_options}}
        {{#pages}}
            <div class="tcm-filter_checkboxes-page {{class}}">
                {{#options}}
                    <div class="totara_form_element_checkboxes_checkbox clearfix">
                        <input id="{{htmlid}}" type="checkbox" name="{{name}}[]" value="{{value}}" {{#checked}}checked{{/checked}} />
                        <label for="{{htmlid}}">
                            {{label}}
                            <span title="{{#str}} total, totara_contentmarketplace {{/str}}" class="tcm-filter-option-count">{{formatcount}}</span>
                        </label>
                    </div>
                {{/options}}
            </div>
        {{/pages}}
        {{#show_more}}
            <a class="tcm-filter-show-more">{{#str}}showmore, totara_contentmarketplace{{/str}}</a>
        {{/show_more}}
    {{/paginated_options}}
</div>
