<h1>Index</h1>
{{#cancreate}}
<form method="POST" action="create.php">
    <input type="submit" name="submit" value="Create" />
</form>
{{/cancreate}}
<ul>
{{#activities}}
    <li><a href="show.php?id={{id}}">View</a><ul>
        <li>Name: {{name}}</li>
        <li>Course ID: {{course}}</li>
    </ul></li>
{{/activities}}
</ul>
