{{!
    This file is part of Totara Perform

    Copyright (C) 2020 onwards Totara Learning Solutions LTD

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    @author Riana Rossouw <riana.rossouw@totaralearning.com>
    @package mod_perform
}}
{{!
    @template mod_perform/manage/participation/participation

    Activity participation management template

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * backurl: String
    * tabs: HTML
    * heading: String
    * name: String (TODO: Remove once page content is implemented)

    Example context (json):
    {
    }
}}
<div class="tw-perform-manage-participation">
    <a href="{{backurl}}">{{#str}}back_to_all_activities, mod_perform{{/str}}</a>

    <h2 class="tw-perform-manage-participation__title">{{heading}}</h2>

    {{{tabs}}}

    {{name}}
</div>
