/*  */

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc800;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #324b7d;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc800;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    /*--bs-primary-rgb: 255, 200, 0;*/
    --bs-primary-rgb: 50, 75, 125;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 200, 0;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-rgb: 33, 37, 41;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

.x-log h1 {
    color: var(--bs-primary);
    font-family: var(--bs-font-sans-serif);
}

.x-keyword {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.x-log {
    padding: 3rem;
    text-align: center;
    border: 1px solid #fff;
}

.xx-log {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
}

.x-log h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.y-log {
    border: 1px solid #ccc;
    padding: 3rem 0rem 3rem 0rem;
    background-color: rgb(243, 243, 243);
}

.yy-log {
    padding: 3rem 1rem 3rem 1rem;
    text-align: center;
}

.x-log img {
    width: 100%;
}

.container-customer img {
    border: 1px solide black;
    width: 100px;
    height: 100px
}

.c-learning {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.p-learning {
    padding-top: 0.4rem;
    padding-top: 0.4rem;
}

.p-learning div a {
    color: black;
}

.img-rounded {
    border: 1px solid #ccc;
    border-radius: 100% !important;
}

.x-learning>span {
    display: block;
    border: 1px solid #fff;
    background-color: #ccc;
}

.xx-div {
    border: 1px solid #ccc;
    padding: 4rem;
    text-align: center;
    background-color: rgb(243, 243, 243);
}

.xx-div img {
    width: 100%;
}

.xx-div span {
    display: block;
}

.xx-div hr {
    border: 1px solid black;
    width: 50px;
    display: block;
    float: left;
    margin-top: -3px;
}

.i-xx-div {
    padding-top: 2px;
    border: 1px solid transparent;
}

.i-xx-div img.profil {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.ii-xx-div {
    border: 1px solid transparent;
    background-color: rgb(243, 243, 243);
    padding: 2rem 0.5rem 1rem 0.5rem;
    text-align: center;
}

.ii-xx-div form {
    display: inline-block;
}

.i-course {
    padding: 1rem 0rem 0rem 0rem;
}

.i-course div {
    text-align: center;
    padding: 3px;
}

.i-course span {
    display: block;
}

.i-course img {
    width: 85px;
    height: 85px;
    display: inline-block;
}

.i-banner {
    border: 1px solid #ccc;
    background-color: rgb(243, 243, 243);
    padding: 30px;
}

.i-users {
    padding: 0.5rem 0rem 0.5rem 0rem;
}

.i-users div img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.i-users div span {
    display: block;
}

.i-users div a {
    color: black;
}

.my-x-div {
    padding-top: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

.my-y-div {
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    width: 100%;
    padding: 3px;
    margin: 3px 0px 3px 0px;
}

.my-y-div h4 {
    font-size: 1.1em;
    margin-bottom: 0.8rem;
}

.my-y-div span {
    float: left;
    font-size: small;
    padding-bottom: -1px;
    line-height: normal;
}

.my-y-div img.lc {
    width: 80px;
    height: 55px;
}

.my-x-div h3 {
    font-size: x-large;
    font-weight: bold;
}

.my-x-div h4 {
    font-size: 1em;
}

.my-x-div hr {
    border: 2px solid #ccc;
    margin-top: 0;
}

.more {
    text-align: center;
    color: black;
    font-size: 1em;
}

.more span {
    color: black;
    font-size: small;
}

.more span img:hover {
    cursor: pointer;
}

.s-x-div {
    border: 1px solid black;
}

.s-x-div ul {
    border: 1px solid red;
}

.s-x-div ul li {
    border: 1px solid blue;
}

.s-x-div ul li img {
    float: right;
}

.m-footer {
    padding: 30px;
    text-align: center;
}