
/* Spacing for the multicheck report builder filter */
div.multicheck-items fieldset.felement span {
    display: block;
    float: left;
    width: 30%;
}

/* show/hide button alignment */
.dir-ltr .rb-showhide.boxalignright {
    text-align: right;
}
.dir-rtl .rb-showhide.boxalignright {
    text-align: left;
}

.dir-ltr .rb-search {
    margin-left: auto;
    margin-right: 0;
}
.dir-rtl .rb-search {
    margin-left: 0;
    margin-right: auto;
}

.rb-search-menu {
    vertical-align: middle !important;
}

.rb-genbutton {
    float: right;
}

.rb-genicon {
    cursor: hand; cursor: pointer;
}

.rb-hidden {
    display: none;
}

.rb-inline {
    display: inline-block;
}

#team_members .user_namewithlinks a {
    padding-left: 5px;
    float: left;
}
#team_members .user_namewithlinks .name {
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
}

#team_members .user_namewithlinks ul {
    clear: left;
    margin: 0;
    padding-top: 2px;
}

#team_members .user_namewithlinks ul li {
    float:left;
    list-style-type: none;
}

#team_members .user_namewithlinks li a {
    border-left: 1px solid #bbbbbb;
    font-size: 10px;
    line-height: 10px;
    margin: 2px;
}

#team_members .user_namewithlinks li:first-child a {
    border-left: none;
    margin-left: 0;
}
