{{!
   This file is part of Totara Learn

   Copyright (C) 2019 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Tatsuhiro Kirihara <tatsuhiro.kirihara@totaralearning.com>
   @package mod_facetoface
}}

{{!

    @template mod_facetoface/show_previous_events

    This template generates a link for whether to display all previous events or partial previous events.

    Context variables required for this template:
    * class: part of css class
    * hidden: true to hide the whole element
    * showall: true to indicate that the all previous events are shown
    * link: required only if hidden is false
    * link.url: the url
    * link.anchor: #anchor (required only if hidden is false)
    * link.label: label (required only if hidden is false)

    Example content (json):
    {
        "class" : "sessionlist",
        "hidden": false,
        "text": "Showing events from last 30 days",
        "showall": "1",
        "link": {
            "url": "/mod/facetoface/view.php?f=3&allpreviousevents=1",
            "anchor": "",
            "label": "show all"
        }
    }
}}

<p class="mod_facetoface__{{class}}__show-previous{{#hidden}}--hidden{{/hidden}}" data-show-all="{{showall}}"{{#hidden}} aria-hidden="true"{{/hidden}}>
    {{text}}{{^hidden}}
        &ndash;
        <a class="mod_facetoface__{{class}}__show-previous__link" href="{{link.url}}{{#link.anchor}}#{{.}}{{/link.anchor}}">{{link.label}}</a>
    {{/hidden}}
</p>
