{{!
     This file is part of Totara LMS

     Copyright (C) 2019 onwards Totara Learning Solutions LTD

     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with this program.  If not, see <http://www.gnu.org/licenses/>.

     @author Riana Rossouw <riana.rossouw@totaralearning.com>
     @package totara_competency
}}
{{!

        @template totara_competency/divider_text

        This template shows a divider with the specified text

        Classes required for JS:
        * none

        Data attributes required for JS:

        Context variables required for this template:

        Other context variables for following partials:
        * key - string key
        * component - string component

        Strings:
}}

<div class="tw-comp__orDivider">
    <div class="tw-comp__orDivider_label">
        {{#str}}or, totara_competency{{/str}}
    </div>
</div>
