{{!
   This file is part of Totara Learn

   Copyright (C) 2019 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Kevin Hottinger <kevin.hottinger@totaralearning.com>
   @package totara_core
}}
{{!

    @template totara_competency/select_region_panel_toggle

    This template toggles visibility of the region panel on mobile.

    Classes required for JS:
    * tw-selectRegionPanelToggle__trigger_hide: Hide trigger
    * tw-selectRegionPanelToggle__trigger_show: Show trigger

    Data attributes required for JS:
    * data-core-autoinitialise: State of this JS auto initilise
    * data-core-autoinitialise-amd: AMD to be linked to template
    * data-tw-selectRegionPanelToggle-trigger: Trigger to toggle visibility of mobile filters

    Context variables required for this template:
    * none
}}

<div class="tw-selectRegionPanelToggle"
    data-core-autoinitialise="true"
    data-core-autoinitialise-amd="totara_competency/select_region_panel_toggle"
    data-tw-toggleFilterPanel="">

    <div class="tw-selectRegionPanelToggle__trigger" data-tw-selectRegionPanelToggle-trigger="">
        <a href="#" class="tw-selectRegionPanelToggle__trigger_show">
            {{#str}}filtersshow, totara_catalog{{/str}}
        </a>
        <a href="#" class="tw-selectRegionPanelToggle__trigger_hide">
            {{#str}}filtershide, totara_catalog{{/str}}
        </a>
    </div>
</div>
