/**
 * Filters
 */
.mediaplugin {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.mediaplugin,
.mediaplugin video {
    max-width: 100%;
    height: auto;
}

.mediaplugin > div {
    margin: auto;
}
