{{!
   This file is part of Totara Learn

   Copyright (C) 2020 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Cody Finegan <cody.finegan@totaralearning.com>
   @package block_totara_recently_viewed
}}
{{!
    @template block_totara_recently_viewed/card_engage_survey

    An individual card representing one of the recently viewed elements.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * title: Title to show at the top of the card
    * extra: Additional data used by the template
    * extra -> footer: String, text to show in the footer

    Example context (json):
    {
        "title": "Greatest Tree?",
        "extra": {
            "footer": "Expires on 18 October 2020"
        }
    }
}}
<div class="block-trv-card-wrapper">
    <div class="block-trv-card-border">
        <div class="block-trv-card">
          {{#is_tile}}
            <div class="block-trv-header">
              {{>block_totara_recently_viewed/icon_survey}}
              <h5 class="block-trv-name">
                {{#str}} survey, engage_survey {{/str}}
              </h5>
            </div>
          {{/is_tile}}
          {{^is_tile}}
            <div class="block-trv-image-wrapper">
              {{>block_totara_recently_viewed/icon_survey}}
            </div>
          {{/is_tile}}
            <div class="block-trv-content">
              {{#is_tile}}
                  <h3 class="block-trv-title"><a href="{{url}}">{{ title }}</a></h3>
              {{/is_tile}}
              {{^is_tile}}
                <h5 class="block-trv-name-vertical">
                  {{#str}} survey, engage_survey {{/str}}
                </h5>
                <h3 class="block-trv-title"><a href="{{url}}">{{ title }}</a></h3>
              {{/is_tile}}
              {{#extra}}
                <div class="block-trv-footer-text">
                  {{footer}}
                </div>
              {{/extra}}
            </div>
        </div>
    </div>
</div>