{{!
   This file is part of Totara Learn

   Copyright (C) 2020 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Cody Finegan <cody.finegan@totaralearning.com>
   @package block_totara_recently_viewed
}}
{{!
    @template block_totara_recently_viewed/icon_star

    The icon for the ratings star svg.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * key: Unique ID for this playlist & star
    * star: Width of the star. 0%, 50% or 100%

    Example context (json):
    {
        "key": "playlist-1234-0",
        "star": "50%"
    }
}}
<svg viewBox="0 0 90 90" width="15" height="15">
    <linearGradient id="block-trv-{{instance_id}}-star-{{key}}" x1="0" x2="100%" y1="0" y2="0">
        <stop offset="{{star}}" class="block-trv-star-filled" />
        <stop offset="{{star}}" class="block-trv-star-unfilled" />
    </linearGradient>
    <polygon points="45,0,15,90,90,34,0,34,75,90" fill="url(#block-trv-{{instance_id}}-star-{{key}})" class="block-trv-star-polygon" />
    <polygon points="45,0,15,90,90,34,0,34,75,90" fill="url(#block-trv-{{instance_id}}-star-{{key}})" />
</svg>